body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header,
.top,
.mid,
.bot{
    flex: 1;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header,
.footer{
    background-color: #1F2937;
}

.mid{
    background-color: #E5E7EB;
}

.call{
    display: flex;
    background-color: dodgerblue;
    justify-content: center;
    align-items: center;
    flex: 1;
}